/target
**/localnote.txt
/test/
**/logs.txt
**/log.txt
**/log
**/log2
**/logs
**/logs2
**/test*
**/aa*
**/bb*
**/cc*
**/out*
**/aaa*
**/bbb*
**/ccc*
**/ddd*
**/flamegraph.svg
**/perf*
**/*.out
**/*.log
**/.vscode/
!src/output.rs
!src/**/output.rs 
ROADMAP.txt
test_script/
ver_release/
linux_build/