/target
**/localnote.txt
/test/
**/logs.txt
**/log.txt
**/log
**/log2
**/logs
**/logs2
**/test*
**/aa*
**/bb*
**/cc*
**/out*
**/aaa*
**/bbb*
**/ccc*
**/ddd*
**/flamegraph.svg
**/perf*
**/*.out
**/*.log
**/.vscode/
!src/output.rs
!src/**/output.rs 
ROADMAP.txt

# toy_ex/index
# toy_ex/hg002_ont_chr22.isoform.gz
# toy_ex/hg002_pb_chr22.isoform.gz

ver_release/

linux_build/